@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: transparent;
}

body {
  margin: 0;
  overflow: hidden;
  background: transparent;
  font-family: 'Courier New', Courier, monospace;
}